<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="price comparision site by DorDam.com">
    <title>DorDam.com</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <environment include="Development">
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
        <link href="~/lib/fancybox/jquery.fancybox.css" rel="stylesheet" />
        <link href="~/lib/OwlCarousel2/assets/owl.carousel.css" rel="stylesheet" />
        <link href="~/lib/OwlCarousel2/assets/owl.theme.default.css" rel="stylesheet" />
        <link href="~/css/ui.css" rel="stylesheet" />
        <link href="~/css/responsive.css" rel="stylesheet" media="only screen and (max-width: 1200px)" />
    </environment>

    <environment exclude="Development">
        <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
        <link href="~/lib/fancybox/jquery.fancybox.min.css" rel="stylesheet" />
        <link href="~/lib/OwlCarousel2/assets/owl.carousel.min.css" rel="stylesheet" />
        <link href="~/lib/OwlCarousel2/assets/owl.theme.default.min.css" rel="stylesheet" />
        <link href="~/css/ui.min.css" rel="stylesheet" />
        <link href="~/css/responsive.min.css" rel="stylesheet" media="only screen and (max-width: 1200px)" />
    </environment>

</head>
<body>
    <header class="section-header">
        <section class="header-main">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <div class="brand-wrap">
                            <img class="logo" src="~/images/logo-dark.png">
                            <h2 class="logo-text">DorDam.com</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <partial name="_SearchPartial" />
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </section>
        <section>
            <partial name="_NavPartial.cshtml" />
        </section>
    </header>
    <partial name="_CookieConsentPartial" />
    <section class="section-content padding-y-sm bg">
        <div class="container">
            @RenderBody()
        </div>
    </section>

    <footer class="section-footer bg-secondary" >
        <partial name="_FooterPartial.cshtml" />
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
        <script src="~/lib/fancybox/jquery.fancybox.js"></script>
        <script src="~/lib/OwlCarousel2/owl.carousel.js"></script>
        <script src="~/js/script.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/fancybox/jquery.fancybox.min.js"></script>
        <script src="~/lib/OwlCarousel2/owl.carousel.min.js"></script>
        <script src="~/js/script.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>