@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="widget-header dropdown">
        <a href="#" class="ml-3 icontext" data-toggle="dropdown" data-offset="20,10">
            <div class="icon-wrap icon-xs bg2 round text-secondary"><i class="fa fa-user"></i></div>
            <div class="text-wrap">
                <small>Hello.</small>
                <span>@UserManager.GetUserName(User)! <i class="fa fa-caret-down"></i></span>
            </div>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <hr class="dropdown-divider">
            <a class="dropdown-item" href="/Identity/Account/Manage/Index">Setting</a>
            <a class="dropdown-item" href="/SuperCategories">Manage Product</a>
            <a class="dropdown-item" href="/Identity/Account/Logout">Logout</a>
        </div> <!--  dropdown-menu .// -->
    </div>
}
else
{
    <div class="d-flex justify-content-end">
        <div class="widget-header">
            <small class="title text-muted">Welcome guest!</small>
            <div>
                <a href="/Identity/Account/Login">Sign in</a> <span class="dark-transp"> | </span>
                <a href="/Identity/Account/Register"> Register</a>
            </div>
        </div>
    </div> <!-- widgets-wrap.// -->

}


