@using PriceComparisonWeb.ViewModel
@model List<Directory>

<nav>
    <ul class="menu-category">
        @foreach (var x in Model)
        {
            <li class="nav-item">
                <a class="nav-link pl-0" href="#" onclick="getSubdirectory(@x.Id,'@x.Name')"> @x.Name </a>
            </li>
        }
    </ul>
</nav>
