@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-request bg padding-y-sm">

    <div class="row">
        <div class="col-lg-5-24" id="directory">
           
        </div> <!-- col.// -->

        <div class="col-lg-19-24">
            <div class="row">
                <div class="col-lg-10-24">
                    <h2 id="categoryname">
                      
                    </h2>
                </div>
            </div>
           <div id="subdir"></div>
        </div>


    </div>
</section>