@using PriceComparisonWeb.ViewModel
@model List<SubDirectory>

<div class="row">
    @foreach (var category in Model)
    {
        <div class="col-lg-4">
            <h4>
            
                <a onclick="getSSDirectory(@category.Name)">@category.Name</a> 
            </h4>
            <ul class="">
                @foreach (var subcategory in category.Items)
                {
                    <li>
                        <a href="CL/@subcategory.Id/@subcategory.Name"> @subcategory.Name </a>
                    </li>
                }
            </ul>

        </div>
    }

</div>