
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div style="display: flex; align-items: center;">
        <a href=""> <i class="material-icons"> home</i> </a>
        <i class="material-icons">  keyboard_arrow_right </i>
        <a href="">@ViewBag.Supercategory </a>
        <i class="material-icons">  keyboard_arrow_right </i>
        <a href="">@ViewBag.category </a>
        <i class="material-icons">  keyboard_arrow_right </i>
        <a href="">@ViewBag.subcategory </a>
    </div>








